<launch>

    <!-- HARDWARE -->
    <include file="$(find fred_serial)/launch/rosserial_esp.launch" />


    <!-- SAFE TWIST -->
    <include file="$(find fred_move_base)/launch/safe_twist.launch" /> 
    <include file="$(find fred_move_base)/launch/odom.launch" />
    <include file="$(find fred_move_base)/launch/position_pid.launch" />
    
    <!-- SPLINE GENERATOR -->
    <include file="$(find fred_spline_generator)/launch/spline_generator_with_init_points.launch" />

    <!-- MACHINE STATES -->
    <include file="$(find fred_machine_states)/launch/machine_state.launch" /> 

    <!-- TF -->
    <include file="$(find fred_tf)/launch/tf.launch" />

    <!-- NAVIGATION -->
    <include file="$(find fred_navigation)/launch/fred_navigation.launch" />


    <!-- GOAL MANAGER -->
    <include file="$(find fred_goal_manager)/launch/goal_manager.launch" />

    <!-- <include file="$(find fred_status_monitor)/launch/temp_monitor.launch" /> -->

    <!-- <include file="$(find hector_mapping)/launch/hector_mapping.launch" /> -->

    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
    </include> -->
  

    <!-- <include file="$(find fred_hardware_interface)/launch/interface.launch" /> -->


</launch>
