<launch>

    <!-- HARDWARE -->

    <include file="$(find fred_move_base)/launch/safe_twist.launch" /> 

    <include file="$(find fred_move_base)/launch/position_pid.launch" />

    <include file="$(find fred_machine_states)/launch/machine_state.launch" /> 

    <include file="$(find fred_goal_manager)/launch/goal_manager.launch" />

    <!-- <include file="$(find fred_status_monitor)/launch/temp_monitor.launch" /> -->


</launch>