body {
  background-color: black;
}



.container_bg {
  margin: 1rem;
  background-color: whitesmoke;
  height: 55rem;
  width: 98%;
  display: flex;
  flex-direction: column;
}

.container_area{
  margin: 0.3rem;
  background-color: gray;
  height: 20rem;
  width: auto;
  display: flex;
  flex-direction: column;
}
.container_sensor{
  margin: 1rem;
  background-color: darkgray;
  width: 40rem;
  display: flex;
  flex-direction: column;
  
}
.title_values{
  margin: 1rem;
  width: 40rem;
  display: flex;
  
}

.values{
  display: flex;
  
}
.container_value{
  margin: 1rem;
  background-color: white;
  width: 12rem;
  display: flex;
  flex-direction: column;

}
.title{
  width: 100%;
  background-color: lightgray;
  margin: 0%;
}

h1, h2{
  margin: 0%;
  justify-content: center;
  

}